build/
*.user
*.TMP
GrindHMI.pro
src/utils/AutoCncSocket.cpp
src/MainWindow.cpp
src/MainWindow.cpp
lib/*
.qmake.stash
/.vs
/debug
*.filters
/release
*.autosave
/step
*.user
*.pro.user
*.pro.user.*
lib/
/inc
